<template name="eventsForm">
  <div class="ui page grid one column center aligned stackable">
    <div class="column">
      <div class="ui form">
        <div class="ui four fields">
          <div class="field">
            <label>Name</label>
            <input id="name" type="text" placeholder="First Name">
          </div>
          <div class="field">
            <label>Date</label>
            <input id="date" type="date" placeholder="Date">
          </div>
          <div class="field">
            <label>Aforo limitado</label>
            <input id ="aforo" type="number" placeholder="Aforo">
          </div>
          <div class="field">
            <label> Duracion</label>
            <input type="number" id="duracion" placeholder="duracion">
          </div>
        </div>
        <div class="field">
          <label>Description</label>
          <textarea id="description"></textarea>
        </div>

        <div class="field">
          <div class="ui button green submit">Submit</div>
        </div>
      </div>

    </div>
  </div>
</template>