/* Double Diagonal line */


#events-list {
  z-index: 1;
  padding-top: 2em;
  background: gray;
}

#events-list a {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#events-list a:hover{
  color:#6bbed4;
}

#events-list::before,
#events-list::after {
  top: 0;
  left: 1%;
  z-index: -1;
  width: 100%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

#events-list::before {
  height: 50%;
  background: #6bbed4;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}

section {
  position: relative;
  padding: 10em 10%;
  background: #2980b9;
  color: #fff;
  text-align: center;
}

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}