<template name="events">

<div class="ui massive selection relaxed list">
  {{#each events}}
    <a href="{{pathFor 'singleEvent'}}" class="item">
      <div class="left floated icon header ui">
        <i class="icon mail"></i>{{eventDate date}}
      </div>
      <div class="content">
        <h2 class="ui header">{{name}}</h2>
        <p>{{description}}</p>
        <p>{{teacher}} is the teacher of this event</p>
        <div class="extra">{{numberOfAttendees}} people are going to his event</div>
      </div>
    </a>
  {{/each}}
</div>

<div class="ui grid four columns stackable">
  <div class="column">
      <section class="ss-style-doublediagonal">
        <div class="column">
          <span class="icon icon-home"></span>
          <p>Take root and flourish. Extraordinary claims require extraordinary evidence, across the centuries venture hundreds of thousands are creatures of the cosmos rich in heavy atoms of brilliant syntheses Cambrian explosion Euclid...</p>
        </div>
        {{#each events}}
          <a href="{{pathFor 'singleEvent'}}" class="item">
            <div class="left floated icon header ui">
              <i class="icon mail"></i>{{eventDate date}}
            </div>
            <div class="content">
              <h2 class="ui header">{{name}}</h2>
              <p>{{description}}</p>
              <p>{{teacher}} is the teacher of this event</p>
              <div class="extra">{{numberOfAttendees}} people are going to his event</div>
            </div>
          </a>
        {{/each}}
      </section>
  </div>
</div>

</template>

